@import '~bootstrap/scss/bootstrap';
body {
  min-height: 100vh;
}

span {
  max-width: 100vw;
    text-transform: capitalize;
  }

  .edit {
    font-weight: bold;
  }

  .scrollable-menu {
    height: auto;
    max-height: 85vh;
    overflow-x: hidden;
}

 .items-list{
  min-width: 90vw;
}